body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
header{
    background-color: #AFC33D;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2{
    font-family: 'Gloria Hallelujah', cursive;
}
/* header styles */
header h1{
    color: white;
    font-size: 50px;
}
header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid #ffffff;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
main img{
    max-width: 100%;
}
h2{
    font-size: 30px;
    color: #AFC33D;
    margin: 40px 0 10px;
}
.box{
    padding: 10 px;
    Margin: 30px 0;
}
.box-1{
    background-color: #FF6EB9; 
    display: inline;
}
.box-2{background-color: aqua;}

.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup .blanket{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.popup .content{
    box-sizing: border-box;
    padding: 20 px;
    position: absolute;
    background-color: white;
    width: 400 px;
    height: 300 px;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -200 px;
}

.popup .close{
    border: none;
    background-color: 773300;
    color: white;
    padding: 10 px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -20 px;
    right: -30 px;
    cursor: pointer;
}

a{
    color: #AFC33D;    
}
a:hover{
    color: white;
    background-color: #FF6EB9;
}
footer{
    background-color: #AFC33D;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
footer a:hover{
    opacity: .5;
    background-color: transparent;
}
p.caption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
    font-size: 18px;
}